<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Create/Edit Product</h5>
        </div>
        <div class="card-body">
        <%= form_with(model: product, local: true, html: { multipart: true }) do |form| %>
          <% if product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

              <ul>
              <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :product_name %>
                  <%= form.text_field :product_name, id: :product_name, :class=>'form-control' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :sku %>
                  <%= form.number_field :sku, id: :product_sku, :class=>'form-control' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :price %>
                  <%= form.text_field :price, id: :product_price, :class=>'form-control' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :stock_quantity %>
                  <%= form.number_field :stock_quantity, id: :product_stock_quantity, :class=>'form-control' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :category_name %>
                  <%= collection_select(:product,
                                        :category_id,
                                        Category.all,
                                        :id,
                                        :category_name,
                                        {},
                                        {:multiple => false}) %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :description %>
                  <%= form.text_area :description, id: :product_description, :class=>'form-control' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <%= form.label :product_image %>
                  <%= form.file_field :product_image, id: :product_image, :class=>'form-control' %>
                </div>
              </div>
            </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <%= form.submit 'Save Product' ,:class => 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
